name: tests

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/*.md'
  pull_request:
    types: [ opened, synchronize, reopened, edited ]

jobs:

  build-coverage:
    runs-on: ubuntu-latest
    container: gcc:${{ matrix.tag }}
    strategy:
      fail-fast: false
      matrix:
        tag: [ 13, 14, 15 ]
        config: [ default-deferred, default-realtime ]
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - name: Install dependencies
        run: apt update && apt install cmake ninja-build python3-pip -y
      - name: Install gcovr
        run: pip install --break-system-packages gcovr
      - name: Run tests with coverage options
        run: |
          cmake --preset ${{ matrix.config }}
          ctest --build-and-test . cmake-build-${{ matrix.config }} --build-generator "Ninja" --test-command ctest -V
          cmake --build --preset ${{ matrix.config }} --target coverage
      - name: Upload results to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: cmake-build-default-deferred/coverage.info, cmake-build-default-realtime/coverage.info
          disable_search: true
          token: ${{ secrets.CODECOV_TOKEN }}
  build-examples-gcc:
    runs-on: ubuntu-latest
    container: gcc:${{ matrix.tag }}
    strategy:
      fail-fast: false
      matrix:
        tag: [ 13, 14, 15 ]
        config: [ default-deferred, default-realtime ]
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - name: Install dependencies
        run: apt update && apt install cmake ninja-build -y
      - name: Build examples
        run: |
          cmake -DMULOG_BUILD_EXAMPLES=ON --preset ${{ matrix.config }}
          cmake --build --preset ${{ matrix.config }}
  build-examples-clang:
    runs-on: ubuntu-latest
    container: silkeh/clang:${{ matrix.tag }}
    strategy:
      fail-fast: false
      matrix:
        tag: [ 20-bullseye ]
        config: [ default-deferred, default-realtime ]
    steps:
      - name: Install dependencies
        run: apt update && apt install cmake ninja-build git -y
      - uses: actions/checkout@v5
        with:
          submodules: true
      - name: Build examples
        run: |
          cmake -DMULOG_BUILD_EXAMPLES=ON --preset ${{ matrix.config }}
          cmake --build --preset ${{ matrix.config }}
